<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
<footer style="background-color: #f7f9fc">
    <div class="container">
        <div class="row border-top py-5 mt-3">
            <div class="col-6">
                <h1>Data Marketplace</h1>
                <h2>By Goose City</h2>
            </div>

            <div class="col-2">
                <h5>Section</h5>
                <a href=""><h6>Home</h6></a>
                <a href=""><h6>Home</h6></a>
                <a href=""><h6>Home</h6></a>
            </div>

            <div class="col-2">
                <h5>Section</h5>
                <a href=""><h6>Home</h6></a>
                <a href=""><h6>Home</h6></a>
                <a href=""><h6>Home</h6></a>
            </div>

            <div class="col-2">
                <h5>Section</h5>
                <a href=""><h6>Home</h6></a>
                <a href=""><h6>Home</h6></a>
                <a href=""><h6>Home</h6></a>
            </div>
        </div>
        <div class="mx-1 py-5">
            <a href="https://www.facebook.com" class="fa fa-facebook"></a>
            <a href="https://www.twitter.com" class="fa fa-twitter"></a>
            <a href="https://www.instagram.com" class="fa fa-instagram"></a>
            <a href="https://www.linkedin.com" class="fa fa-linkedin"></a>
        </div>
    </div>
</footer>
</body>
</html>