<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>


<header class="py-3 border-bottom">
    <div class="container">
        <div class="d-flex align-items-center">
            <h4 class="col-2">
                Data Marketplace
            </h4>
            <script>
                function LoginSignupAlert() {
                    alert("Please Login or Sign up to explore all products and features!");
                }
            </script>
            <a href="javascript:LoginSignupAlert();" class="col-1">Overview</a>
            <a href="javascript:LoginSignupAlert();" class="col-1">Products</a>
            <a href="javascript:LoginSignupAlert();" class="col-1">Customers</a>
            <a href="javascript:LoginSignupAlert();" class="col-1">Services</a>
            <div class="col-6 text-end">
                <form action="/login-customer" class="btn">
                    <button class="btn btn-outline-primary" type="submit">Login or Sign up</button>
                </form>
            </div>
        </div>
    </div>
</header>

</body>
</html>