<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <script src="/js/darkmode.js" async></script>
    <link rel="stylesheet" href="/styles/darkmode.css">
</head>
<body>
<header class="py-3 mb-2 border-bottom">
    <div class="container">
        <div class="d-flex align-items-center">
            <h4 class="col-2">
                Data Marketplace
            </h4>
            <a href="/owner-index" class="col-1">All Datasets</a>
            <a href="/owner-adddataset" class="col-1">Add Datasets</a>
            <a href="/owner-order-control" class="col-1">Orders</a>
            <a href="/promotion" class="col-1">Promotion/Ads</a>

            <div class="col-4"></div>
            <div class="col-1">
                <form action="/" class="btn">
                    <button class="btn btn-secondary" type="submit">Logout</button>
                </form>
            </div>
            <div class="col-1">
                <a href="#">
                    <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_400x400.png" alt="mdo" width="35" height="35" class="rounded-circle">
                </a>
            </div>
        </div>
    </div>
</header>
</body>
</html>