<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
+

</head>
<body class="text-center">

<div class="loginsignup">
    <h2 class="fw-light">Log In</h2>
    <div class="row my-3">
        <div>
            <form action="/login-customer" class="btn">
                <button class="btn btn-primary btn-outline-primary text-light" type="submit">Customer Login</button>
            </form>
            <form action="/login-owner" class="btn">
                <button class="btn btn-outline-secondary" type="submit">Owner Login</button>
            </form>
        </div>
    </div>
    <div class="row">
        <form>
            <div class="form-floating my-3">
                <input type="email" class="form-control" id="email" placeholder="Email">
                <label for="Email">Email address</label>
            </div>
            <div class="form-floating my-3">
                <input type="password" class="form-control" id="password" placeholder="Password">
                <label for="password">Password</label>
            </div>
        </form>
    </div>

    <div class="my-3">
        <form action="/owner-index">
            <button class="btn btn-primary px-4" type="submit">Login</button>
        </form>
    </div>


    <p>Don't have an account? <a href="/signup-customer">Sign up</a></p>
</div>

</body>
</html>