<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>
<header class="py-3 mb-2 border-bottom">
    <div class="container">
        <div class="d-flex align-items-center">
            <h4 class="col-2">
                Data Marketplace
            </h4>
            <a href="" class="col-1">Datasets</a>
            <a href="" class="col-1">Orders</a>
            <a href="" class="col-1">Promotion</a>
            <a href="" class="col-1">Services</a>
            <div class="col-6 text-end">
                <form method="get" action="/" class="btn">
                    <button type="submit" class="btn btn-outline-primary">Logout</button>
                </form>
            </div>
        </div>
    </div>
</header>
</body>
</html>