<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link th:href="@{/styles/header_footer.css}" rel="stylesheet"/>
    <script src="/js/payment.js" async></script>
    <script src="/js/darkmode.js" async></script>
    <link rel="stylesheet" href="/styles/darkmode.css">
</head>

<body>

<script type="text/javascript">
    window.__be = window.__be || {};
    window.__be.id = "6234f26ea034e300073b3098";
    (function() {
        var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true;
        be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.chatbot.com/widget/plugin.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s);
    })();
</script>


<div th:insert="header-customer :: header"></div>
<div class="position-fixed py-2 px-3 bg-dark text-white rounded-pill" style="bottom:1rem;left:1rem;">
    <div class="form-check form-switch pull-right">
        <input class="form-check-input" type="checkbox" onchange="dark()">
        <label>Darkmode</label>
    </div>
</div>
<div class="container mb-5" style="max-width: 960px">
    <main>
        <div class="py-4 text-center">
            <img class="d-block mx-auto mb-4" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.v4E1e1DezI0cSiwCERM_wQHaD4%26pid%3DApi&f=1" alt="" width="200" height="">
            <h2>Goose City Payment</h2>
        </div>

        <div class="row g-4">
            <div>
                <h4 class="text-primary">
                    Your cart
                </h4>

                <ul class="list-group">
                    <li class="list-group-item cart-items">
                        <div class="row cart-row">
                            <div class="col-6">
                                <h6 class="my-0">name</h6>
                                <small class="text-muted">description</small>
                            </div>
                            <div class="col-1 pt-2">
                                <span class="text-muted">price</span>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-1 pt-2">
                                <span class="text-muted">number</span>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="list-group" th:each="dataset : ${cart}">
                    <li class="list-group-item cart-items">
                        <div class="row cart-row">
                            <div class="col-6">
                                <h6 class="my-0" th:text="${dataset.name}"></h6>
                                <small class="text-muted" th:text="${dataset.description}"></small>
                            </div>
                            <div class="col-1 pt-2">
                                <span class="text-muted" th:text="|&euro;${dataset.price}|"></span>
                            </div>
                            <div class="col-1 pt-1">
                                <form th:action="@{/subnumber/} + ${dataset.datasetid}" style="background: lightgray; border-radius: 5px">
                                    <button class="btn btn-sm" type="submit">&nbsp;&nbsp;&nbsp;-1</button>
                                </form>
                            </div>
                            <div class="col-1 pt-2">
                                <span class="text-muted" th:text="${dataset.number}"></span>
                            </div>
                            <div class="col-1 pt-1">
                                <form th:action="@{/addnumber/} + ${dataset.datasetid}" style="background: lightgray; border-radius: 5px">
                                    <button class="btn btn-sm" type="submit">&nbsp;&nbsp;&nbsp;+1</button>
                                </form>
                            </div>
                            <div class="col-1 pt-1">
                                <form th:action="@{/removecart/} + ${dataset.datasetid}">
                                    <button class="btn btn-sm btn-danger" type="submit">Remove</button>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="list-group mb-3">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-2">
                                <span>Total (EUR)</span>
                            </div>

                            <div class="col-8"></div>
                            <div class="col-1">
                                <strong class="total-price" th:text="|&euro;${totalmoney}|"></strong>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-15">
                <h4 class="mb-3 text-primary">Billing Information</h4>
                <form class="needs-validation" novalidate>
                    <div class="row g-3">
                        <div class="col-3">
                            <label for="firstName" class="form-label">First name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>

                        <div class="col-3">
                            <label for="lastName" class="form-label">Last name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>


                        <div class="col-6">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="">
                            <div class="invalid-feedback">
                                Please enter a valid email address for shipping updates.
                            </div>
                        </div>

                        <div class="col-6">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" class="form-control" id="address" placeholder="" required>
                            <div class="invalid-feedback">
                                Please enter your shipping address.
                            </div>
                        </div>

                        <div class="col-6">
                            <label for="address2" class="form-label">Address 2 <span class="text-muted">(Optional)</span></label>
                            <input type="text" class="form-control" id="address2" placeholder="">
                        </div>

                        <div class="col-5">
                            <label for="country" class="form-label">Country</label>
                            <select class="form-select" id="country" required>
                                <option value="">Choose...</option>
                                <option>Ireland</option>
                                <option>United Kingdom</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>

                        <div class="col-4">
                            <label for="city" class="form-label">City</label>
                            <input type="text" class="form-control" id="city" required>

                            <div class="invalid-feedback">
                                City required
                            </div>
                        </div>

                        <div class="col-3">
                            <label for="zip" class="form-label">Zip code</label>
                            <input type="text" class="form-control" id="zip" placeholder="" required>
                            <div class="invalid-feedback">
                                Zip code required.
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">


                    <h4 class="mb-3 text-primary">Pay with card</h4>

                    <div class="row gy-3">

                        <div class="col-6">
                            <label for="number" class="form-label">Card number</label>
                            <input type="text" class="form-control" id="number" placeholder="" required>
                            <div class="invalid-feedback">
                                Credit card number is required
                            </div>
                        </div>

                        <div class="col-6">
                            <label for="name" class="form-label">Name on card</label>
                            <input type="text" class="form-control" id="name" placeholder="" required>
                            <div class="invalid-feedback">
                                Name on card is required
                            </div>
                        </div>

                        <div class="col-6">
                            <label for="expire" class="form-label">Expiration Date</label>
                            <input type="text" class="form-control" id="expire" placeholder="MM/DD" required>
                            <div class="invalid-feedback">
                                Expiration date required
                            </div>
                        </div>

                        <div class="col-6">
                            <label for="cvv" class="form-label">CVC</label>
                            <input type="password" class="form-control" id="cvv" placeholder="XXX" required>
                            <div class="invalid-feedback">
                                Security code required
                            </div>
                        </div>
                    </div>
                </form>
                <hr class="my-4">
                <form method="get" action="/checkout">
                    <button class="w-100 btn btn-primary btn-lg" >Continue to checkout</button>
                </form>
            </div>
        </div>

    </main>

<!--    <footer class="my-5 pt-5 text-muted text-center text-small">-->
<!--        <p class="mb-1">&copy; 2017–2022 Goose City</p>-->
<!--        <ul class="list-inline">-->
<!--            <li class="list-inline-item"><a href="contactus.html">Contact Us</a></li>-->
<!--        </ul>-->
<!--    </footer>-->
</div>
<div th:insert="footer :: footer"></div>
</body>
</html>