<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Signup-Owner</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/styles/login_signup.css}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <meta name="theme-color" content="#7952b3">

</head>
<body class="text-center">

<div class="loginsignup">
    <h2 class="fw-light">Sign Up</h2>
    <div class="row my-3">
        <div>
            <form action="/signup-customer" class="btn">
                <button class="btn btn-outline-secondary" type="submit">Customer Signup</button>
            </form>
            <form action="/signup-owner" class="btn">
                <button class="btn btn-primary btn-outline-primary text-light" type="submit">Owner Signup</button>
            </form>
        </div>
    </div>
    <div class="row">
        <form>
            <div class="form-floating my-3">
                <input type="email" class="form-control" id="email" placeholder="Email">
                <label for="Email">Email address</label>
            </div>
            <div class="form-floating my-3">
                <input type="password" class="form-control" id="password" placeholder="Password">
                <label for="password">Password</label>
            </div>
        </form>
    </div>

    <div class="my-3">
        <form action="/owner_index">
            <button class="btn btn-primary px-4" type="submit">Signup</button>
        </form>
    </div>


    <p>Already have an account? <a href="/login-owner">Log in</a></p>
</div>

</body>
</html>