.dark-mode{
    background-color: #1e1e1e;
    color: white;
}
.dark-mode a{
    background-color: #1e1e1e;
    color: white;
}
.dark-mode .card-body{
    background-color: #1e1e1e;
    color: white;
}
.dark-mode footer{
    background-color: #1e1e1e;
    color: white;
}
.dark-mode .btn{
    background-color: grey;
    border: none;
    color:white;
}
.dark-mode .cart-items{
    background-color: #1e1e1e;
    color: white;
}

.dark-mode .total{
    background-color: #1e1e1e;
    color: white;
}